@media screen and (min-width: 769px){
img{
max-width: 100%;
height: auto;
width /***/:auto;
}
#container{
width:100%;
}
/*----------------------------------------
 全ページ共有ここから
----------------------------------------*/
body,p,h1,h2,h3,h4,h5,h6,
span,small,strong,
div,ul,li,
figure,img,
header,footer,nav,section{
    font-size:15px;
    margin:1em;
    padding:0;
    border:none;
    outline:none;
    line-height :1.618;
}

h1{
	margin:10px 10px;
	padding-bottom:.2em;
	border-bottom:dotted 1px #333;
	font-size:30px;
	font-weight:normal;
	line-height:1;
	position:relative;
}

h2{
    margin:0;
    font-weight:normal;
}

/* 主にインデックスページ
--------------------*/
section{
    margin:0;
}

#categories{
     margin:1em;
}
#timecard{
     margin:0;
}

#timecard select{
     font-size:15px;
}

.category{
    margin:0;
}

#info{
    margin:1em;
}

.news{
    font-size:0.5em;
    margin:1em;
}

a{
    color:#333;
    text-decoration:none;
    font-size:1em;
    padding:5px;
    display:block;
    border:none;
    border-color:#444444;
    border-top:solid 1px #BABDB9;
    border-bottom:solid 1px #F5F5F5;
    border-left:solid 1px #BABDB9;
    border-right:solid 1px #BABDB9;
    width:150px;
    background-image: -moz-linear-gradient(top, #FFF, #EBEBEB);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#FFF), to(#EBEBEB));
    background-image: -o-linear-gradient(top, #FFF, #EBEBEB);
    background-image: linear-gradient(top, #FFF, #EBEBEB);
}

input#submit_button{
	cursor:pointer;     /*←これでカーソルを指先型に変化させる*/
	font-size:110%;
	font-weight: normal;
	width:160px;
	padding: 5px 0;
	border-style:solid;
        border-color:#BABDB9;
        border-top:solid 1px #BABDB9;
        border-bottom:solid 1px #BABDB9;
        border-left:solid 1px #BABDB9;
        border-right:solid 1px #BABDB9;
	color:#333;
	background:#FFF;
/*↓背景グラデーションの指定です*/
	background: -moz-linear-gradient(top, #FFF, #EBEBEB);
	background: -webkit-linear-gradient(top, #FFF, #EBEBEB);
	background: linear-gradient(#FFF, #EBEBEB);
/*↓以下、ボックスの角丸、シャドウ、テキストシャドウの指定*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


iframe{
    width:300px;
    border: solid 1px #A9A9A9;
}

/* テーブル
--------------------*/
table {
	border-collapse: collapse;
}
td {
	border: solid 1px;
	padding: 0.5em;
}
th {
	border: solid 1px;
	padding: 0.5em;
}


/* フォーム部分
--------------------*/
/*まず、フォーム全体の囲み罫や背景などを指定*/
form#form_s {
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	color: #666;
	background: #F0F8F1;
	/*↓背景グラデーションの指定*/
	background: -moz-linear-gradient(top, #FBFCFC, #F0F8F1);
	background: -webkit-linear-gradient(top, #FBFCFC, #F0F8F1);
	background: linear-gradient(#FBFCFC, #F0F8F1);
}

/*リスト要素<ul>を初期化*/
form#form_s ul {
	padding:0;
	margin:0;
        border-top: 1px solid #90EE90;
}
/*<li>も初期化し、ボーダーなどを指定*/
form#form_s ul li {
	list-style:none;
	margin:0px;
	padding:10px;
	border-top: 2px solid #FFF;
	font-size: 12px;
}
/*最初の<li>にはボーダーをつけない（:first-child疑似クラスによる指定）*/
form#form_s ul li:first-child {
	border-top:none;}


/* span要素をブロック化しフロートでフォーム部品と横に並べる*/
form#form_s ul li span {
	width: 11em;
	margin:0px;
	display:block;
	float:left;
/* floatでなく、CSS3 の「display: inline-block」を使う手もアリ 
	display: inline-block;*/
}

/*「:after」で <li>の末尾でフロートをクリア*/
form#form_s ul li:after {
	content:".";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;     /*←フロートをクリア*/
}

/* テキスト入力部品の見た目を統一する */
form#form_s ul li label .txtfiled, form#form_s select {
	width:250px;
	padding:3px 5px;
	margin:0px;
	color:#666;
	border: solid 1px #ccc;
	/*テキストエリア内にシャドウをつける。最初にbackground初期化が必要*/
    background: #fff;
	-webkit-box-shadow: 2px 3px 5px -2px #ddd inset;
	-moz-box-shadow: 2px 3px 5px -2px #ddd inset;
	box-shadow: 2px 3px 5px -2px #ddd inset;
	/*角丸にする*/
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
}
form#form_s select {
	/*selectは250では大きすぎるので*/
	width:250px;
}

/*チェックボックス、ラジオボタンのブロックの指定*/
form#form_s ul li p {
	margin:5px 0 0 40px;
}
/*チェックボックス、ラジオボタンの label要素を横に並べる*/
form#form_s ul li p label {
	margin-right: 2em;
	display: block;
	float: left;
}
/*input要素とテキストがくっつかないように右にマージンを少し*/
form#form_s ul li p label input {
	margin-right:0.5em;
}
/*チェックボックス、ラジオボタンの label要素にロールオーバー時の変化を指定する*/
form#form_s ul li p label:hover {
	background : #FFF;
	color: #096;
	font-weight:bold;
}
/*チェックボックスの<label>の横幅を統一する（<p>にクラス名.checkをつけて）*/
form#form_s ul li p.check label {
	width: 9em;
}
/*送信・リセットボタンの体裁を指定（[type="○○"]で属性の値でセレクト）*/
form#form_s ul li input[type="submit"] ,
form#form_s ul li input[type="button"] {
	cursor:pointer;     /*←これでカーソルを指先型に変化させる*/
	font-size:110%;
	font-weight: bold;
	width:150px;
	padding: 5px 0;
	margin-right:0.5em;
	border-style:solid;
        border-color:#696969;
        border-width:1px;
	color:#696969;
	background:#FFF;
/*↓背景グラデーションの指定です*/
	background: -moz-linear-gradient(top, #FFF, #EBEBEB);
	background: -webkit-linear-gradient(top, #FFF, #EBEBEB);
	background: linear-gradient(#FFF, #EBEBEB);
/*↓以下、ボックスの角丸、シャドウ、テキストシャドウの指定*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

}
