@page {
  size: A4;
  margin: 10mm;
}

@media print {
    body {
        font-size: 12px;
    }
.sheet {
  page-break-after: always;
}
table,
th,
td {
    line-height: 110%;
    border-collapse: collapse;
    border-spacing: 0;
}

table {
	width: 100%;
	margin: 0 0 20px 0;
	padding: 5px;
	border: 1px solid #333333;
}

table th,
table td {
	padding: 3px;
	font-size: 90%;
}

table th {
	border: 1px solid #333333;
}

table td {
	border: 1px solid #333333;
}
}

@media screen and (min-width: 769px){
img{
max-width: 100%;
height: auto;
width /***/:auto;　
}
#container{
width:100%;
}
/*----------------------------------------
 全ページ共有ここから
----------------------------------------*/
body,p,h1,h2,h3,h4,h5,h6,
span,small,strong,
div,ul,li,
figure,img,
header,footer,nav,section{
    font-size : 15px ;
    margin : 1em;
    padding:0;
    border:none;
    outline:none;
    line-height : 1.618 ; }

h1{
	margin:10px 10px;
	padding-bottom:.2em;
	border-bottom:dotted 1px #333;
	font-size:30px;
	font-weight:normal;
	line-height:1;
	position:relative;
}

h2{
	margin:10px;
	font-weight:normal;
}


table {
	border-collapse: collapse;
        line-height: 110%;
}
td {
	border: solid 1px;
	padding: 0.5em;
}
th {
	border: solid 1px;
	padding: 0.5em;
}

/* リンク色変更はここ */
a{
    margin:10px;
    color:#333;
    text-decoration:none;
    font-size:1em;
    display:block;
    width:150px;
    padding-top:5px;
    padding-bottom:5px;
    background-color: #999999
}

iframe{
    width:300px;
    border: solid 1px #A9A9A9;
}   

/* フォーム部分
--------------------*/
input#submit_button {
    padding: 15px 30px;
}
}
